	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
		<a class="navbar-brand text-red" href="/">Brian for Bentonville</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<!-- <li class="nav-item"> -->
				<!--   <a class="nav-link active" href="/">Home</a> -->
				<!-- </li> -->
				<li class="nav-item">
					<a class="nav-link {% if uri == 'meet' %} active {% endif %}" href="#">Meet Brian</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if uri == 'photos' %} active {% endif %}" href="{% url 'gallery' %}">Photos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if uri == 'videos' %} active {% endif %}" href="#">Videos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if uri == 'contact' %} active {% endif %}" href="{% url 'contact' %}">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
