{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

	<!-- banner -->
	<div class="row">
		<div class="col-12">
			<div class="banner-wrapper mt-lg-3" style="background:red;">
				<div class="banner-body p-lg-4 text-center">
					<h1 class="text-white">Brian Lyew for Bentonville City Council</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- banner -->
	<div class="row">
		<div class="col-12">
			<div class="jumbotron-wrapper">
				<div class="jumbotron-body">
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="image pt-lg-3">
								<img src="{% static 'images/brian.jpg' %}" alt="Image here"
								class="img-responsive" id="brianHero"
								style="width:100%; height:auto;">
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="text-wrappers">
								<div class="text-body text-center ">
									<div class="text-head pt-3">
										<h1>
										Thank you Bentonville for supporting my 2018 election! Together, we made a great effort!
										</h1>
									</div>
									<div class="text pt-3 ">
<p>
</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
